<link rel="import" href="../../bower_components/polymer/polymer-element.html"> <!--es el elemento padre de polymer -->
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="gestor-clientes">
 <template>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <style>
     :host {
       display: block;
     }
     .flag{
       width: 140px;
       height: 140px;
     }
   </style>
   <div class="container">
     <div class="row">
       <h1 class="col-lg-12">Gestor de Clientes</h1>
       <button class="btn btn-info" on-click="obtenerClientes" type="button" name="button">Obtener Clientes</button>
       <button class="btn btn-warning" on-click="anadirCliente" type="button" name="button">Registrar Clientes</button>
     </div>
     <div class="row">
       <table hidden$="{{noCargados}}" class="table table-striped">
         <thead>
           <tr>
             <th></th>
           </tr>
         </thead>
         <tbody>
           <template is="dom-repeat" items="{{clientes}}">
             <tr>
               <td>[[item.idcliente]]</td>
               <td>[[item.nombre]]</td>
               <td>[[item.apellido]]</td>
             </tr>
           </template>
         </tbody>
       </table>

     </div>
   </div>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorClientes extends Polymer.Element {
     static get is() { return 'gestor-clientes'; }
     static get properties() {
       return {
         clientes: {
           type: Array,
           notify: true
         },
         noCargados: {
           type:Boolean,
           value: true
         },
         respuesta:{
           type: Object
         }
       };
     }
     obtenerClientes() {
       var url = "http://localhost:3002/movimientos";
       var request = new XMLHttpRequest();

       request.open("GET", url, false); //false es que la peticion sea sincrona
       request.setRequestHeader("Accept", "application/json");
       request.send();
       this.clientes = JSON.parse(request.responseText);
       console.log(this.clientes);
       this.noCargados = false;
     }
     anadirCliente(){
       var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers/";
       var request = new XMLHttpRequest();
       request.open("POST", url, false);
       request.setRequestHeader("Accpet", "aplication/json");
       request.setRequestHeader("Content-Type", "aplication/json");

      var nuevoCliente = {"CustomerID":"12345", "ContactName":"Pepe", "CompanyName":"PepesCo"};
      var body = JSON.stringify(nuevoCliente);
      request.send(body);
      this.respuesta = request.responseText;
      console.log(this.respuesta);
      this.noCargados = false;
      }
    }

window.customElements.define(GestorClientes.is, GestorClientes);
</script>
</dom-module>
